# Kconfig - STM32F4DISCOVERY board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_SOPHI_ARCADE

config BOARD
	default "stm32f4_disco"

config UART_2
	default y

config PWM_STM32_2
	default y

config SPI_1
	default y
config SPI_2
	default y

endif # BOARD_SOPHI_ARCADE
